<div class="swim-lane" id="swim-lane-editorial">
    <div class="container">
        <p class="ankeiler">
        	{{ page.summary }}
        </p>
        <ul class="editorial-nav">
        	{% for item in site.editorial %}
        		{% if item.parent == 'Editorial lane' %}
        			<li>
        				<a href="{{ item.url }}"
        				   class="pat-inject"
                           style="background-color: {{ item.colour }}" 
        				   data-pat-inject="history: record">
                            <strong class="label">{{ item.title }}</strong>
                        </a>
        			</li>
        		{% endif %}
        	{% endfor %}
        </ul>
    </div>
</div>