<div class="swim-lane" id="swim-lane-editorial">
    <div class="container">
        <p class="ankeiler">
        	{{ page.summary }}
        </p>
        <ul class="editorial-nav"> 
            {% assign sorted_editorial = (site.editorial | sort: 'index' %}
            {% for item in sorted_editorial %}
    			<li>
    				<a href="{{ item.url }}"
    				   class="pat-inject"
                       style="background-color: {{ item.colour }}" 
    				   data-pat-inject="history: record">
                        <strong class="label">{{ item.title }}</strong>
                    </a>
    			</li>
        	{% endfor %}
        </ul>
    </div>
</div>