// Assets
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,500,700);
@import "fontello/css/fontello.css";
@import "mixins";

$break-small: 768px;
$break-medium: 1024px;
$break-large: 1280px;

$baseline: 1em;
$grid-gutter: 20px;
$content-width: 700px;
$swim-lane-content-width: 900px;
$container-padding: 30px;

// Colours
$colour-primary: #A31E39;
$colour-link: steelblue;

// Third party libraries
@import "libraries/animate";
@import "libraries/patterns/patterns";
@import "libraries/reset";

// Project components
@import "components/article";
@import "components/body";
@import "components/container";
@import "components/editorial-nav";
@import "components/global-header";
@import "components/global-nav";
@import "components/long-read";
@import "components/main";
@import "components/news-feed";
@import "components/rich";
@import "components/swim-lane";
@import "components/main-content";