@charset "UTF-8";

body {
   > *:not(.pat-modal) {

    // -ms-filter: blur(0);
    // -webkit-filter: blur(0);
    // filter: blur(0);

    @-moz-document url-prefix() { 
      -moz-filter: inherit;
      filter: inherit;
    }

    -ms-transition: filter 0.8s;
    -moz-transition: filter 0.8s;
    -webkit-transition: filter 0.8s;
    transition: filter 0.8s;
  }

  &.modal-active > *:not(.pat-modal) {
    -ms-filter: blur(50px);
    -moz-filter: blur(50px);
    -webkit-filter: blur(50px);
    filter: blur(50px);  
  }
}

body.modal-active {
  overflow: hidden;
}

div.pat-modal {
  transition: background-color 1s;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(20px);

  &.svg-scheme {
    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;

      * {
        font-family: 'RO Sans' !important;
      }
    }

    .panel-content {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-color: rgba(255,255,255,0.9);
  }

  &.injecting {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
  }
}

div.pat-modal {
  @include box-sizing();
  position: fixed;
  z-index: 9998;
  // background-color: transparent;

  @supports (-ms-accelerator:true) {
    // Target Edge
    background-color: rgba(255,255,255,0.9);
  }

  // background-clip: padding-box;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;

  .filter-bar {
    margin-bottom: 2em;

    input[type=search] {
      float: right;
      width: 14em;
    }
  }

  .header {
    color: gray;
    padding: 0;
    position: relative;
    z-index: 2;
    background-color: transparent;
    height: 0;

    * {
      display: none;
    }

    .close-panel {
      @include close-button;
      font-size: 20px;
    }
  }

  .panel-content {
    background-color: transparent;
    padding: 5em;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    top: 50%;
    opacity: 0;
    @include box-sizing;

    @include screen-size(small) {
        padding: 5em 0;
    }

    -moz-transform: scale(1.5) translateY(-50%);
    -webkit-transform: scale(1.5) translateY(-50%);
    transform: scale(1.5) translateY(-50%);

    .modal-active & {
      -moz-transform: scale(1) translateY(-50%);
      -webkit-transform: scale(1) translateY(-50%);
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }

    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    
    overflow: auto;
    
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  &:not(.max-height) {
    // height: auto !important;
  }

  &.max-height .panel-content {
    
  }

  img {
    max-width: 100%;
  }

  .wizard-box {
    margin: -1.5em;

    .panel-body {
      overflow: auto;
      // padding: 1.5em;
      // background-color: white;
      margin-bottom: 0;
      margin-top: 0;
    }

    .panel-footer {
      // margin: 0;
      // padding: 0.5em 1.5em;
      // border-top: 1px solid #dedede;
      // height: 1.6em;
      // background-color: #efefef;
    }
  }

  &.max-height {

    .wizard-box {
      overflow: hidden;
    }

    .panel-body {
      position: absolute;
      top: 0;
      bottom: 51px;
      right: 0;
      left: 0;
    }

    .panel-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  @include screen-size(small) {
    width: 100% !important;
    height: 100% !important;
    z-index: 10000;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    max-width: inherit !important;
    max-height: inherit !important;
    margin: 0 !important;
    border: none !important;

    .panel-content {
      height: 100%;
      padding-top: 5.5em;

      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .wizard-box {
      overflow: hidden;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .panel-body {
      position: absolute;
      top: 2em;
      bottom: 57px;
      right: 0;
      left: 0;
    }

    .panel-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}


