body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.4em;
	-webkit-hyphens: auto;
	hyphens: auto;

	padding-top: 60px;

	@include screen-size(large) {
		padding-top: 0;
	}
}