@charset "UTF-8";

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    border-bottom: solid 1px rgba(0,0,0,0);
    transition: all 1s;
    z-index: 10;
    background: rgba(255,255,255,0.5);

    &.variation-homepage {
        background: rgba(255,255,255,1);
    }

    @include screen-size(medium-large) {
        padding-top: 20px;
        padding-bottom: 20px;
        // box-shadow: 0 10px 20px rgba(0,0,0,0.05);
        border-bottom: solid 1px rgba(0,0,0,0);

        .scroll-up &,
        .scroll-position-top & {
            border-bottom-color: rgba(0,0,0,0.2);
        }      

        .scroll-down & {
            top: -101px;
        }

        .scroll-position-top & { 
            // padding-top: 20px;
            // padding-bottom: 20px;
            top: 0;
        }  
    }

    @include screen-size(small) {
        position: static;

        #site-logo {
            position: absolute;
            top: 0;
            left: $container-padding;
            right: $container-padding;
        }
    }

    #site-logo {     
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: inline-block;

        @include screen-size(large) {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
        }
    }

    &:not(.variation-homepage) {
        #global-nav {
            @include screen-size(small) {
                display: none;

            }
        }
    }
}