.swim-lane {
	padding-top: 40px;
	margin-bottom: 40px;

	@include screen-size(small) {
		padding-top: 20px;
	}

	.lane-title {
		margin: 0 0 20px 0;
		font-size: 1.625rem;
		padding-top: 10px;
		// border-top: 1px solid #e1e1e1
	}

	.lane-footer {
		a {
			color: $colour-link;
			font-weight: bold;

			&:before {
				display: inline-block;
				width: 1em;
				font-family: fontello;
			}
		}
	}

	.container {
		max-width: $swim-lane-content-width;
	}

	&#swim-lane-hero {
		height: 430px;
		background: url(uil-tish-1.jpg);
		background-size: cover;
		background-position: center;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 1;
		filter: grayscale(1);

		@include screen-size(small) {
			height: 250px;
		}

		@include screen-size(medium) {
			height: 340px;
		}
	}

	&#swim-lane-editorial {
		position: relative;

		@include screen-size(large) {
			padding-top: 0;
			margin-top: -80px;
		}

		.ankeiler {
			font-size: 1.5em;
			line-height: 1.4;
			background: white;
			position: relative;
			z-index: 1;
			padding-top: 0;

			@include screen-size(small-medium) {
				padding: 20px 0 50px;
			}

			@include screen-size(large) {
				padding: 20px 0 50px;

				&:before {
					content: ' ';
					display: block;
					background: white;
					box-shadow: 0 0 20px rgba(0,0,0,0.1);
					height: 550px;
					position: absolute;
					z-index: -1;
					margin: -70px;
					width: calc(100% + 140px);
					box-shadow: 0 -30px 20px rgba(0,0,0,0.03),
							    10px -30px 20px rgba(0,0,0,0.03),
							    -10px -30px 20px rgba(0,0,0,0.03);
				}
			}
		}
	}

	&#swim-lane-news {
		padding-top: 0;
		padding-bottom: 80px;
		position: relative;
		z-index: 1;

		.lane-title {
			padding-top: 20px;
			// border-top: 1px silver solid;
		}
		
		.news-feed {
			// padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}