<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="Description" CONTENT="{{ page.description }}">
        <title>{{ page.title }} — {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" media="screen" type="text/css" href="/assets/style/base.css"/>
    </head>
    <body class="{{ page.class }} layout-{{ page.layout }} template-{{ layout.template }}">
        <div id="main"
             class="variation-{{ layout.template }}">
            {{ content }}
        </div>
        <div id="site-header" 
             class="variation-{{ layout.template }}">
            <div class="container">
                <a href="/" 
                   class="logo pat-inject" 
                   data-pat-inject="history: record"
                   id="site-logo">
                    Stichting Inclusief Jodendom
                </a>
                <nav id="global-nav">
                    {% for item in site.general %}
                      <a class="global-nav-item pat-inject" 
                         data-pat-inject="history: record" 
                         href="{{ item.url }}#main">{{ item.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        <a hidden 
           href="#site-logo" 
           class="pat-scroll" 
           data-pat-scroll="selector: #site-logo; trigger: auto">Naar boven</a>
        <script src="/assets/script/bundle.min.js" type="text/javascript"></script>
    </body>
</html>